.drop__element {
  width: 400px;
  img {
    max-width: 400px;
  }
  padding: 8px;
  margin-right: 10px;
  min-height: 100vh;
}
.titleCol {
  border: 0;
  background: none;
  border-bottom: 1px solid #0000005c !important;
  font-weight: 300;
  width: 100%;
  font-size: 17px;
  margin-bottom: 10px;
}
