.videoWrap {
  position: relative;
  margin-top: 14px;
  padding: 0 8px 8px 0px;
}
.uploadContainer {
  .videoInput {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
  }
  label {
    width: 100%;
    border: 3px dashed black;
    display: flex;
    height: 105px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    font-weight: 500;
    font-size: 16px;
    span {
      font-size: 24px;
    }
    transition: 0.3s all ease;
  }
  &:hover {
    label {
      opacity: 0.2;
      cursor: pointer;
    }
  }
}
.uploadContainer.load {
  label {
    opacity: 0.2;
    cursor: none;
  }
}
.video {
  cursor: auto !important;
  outline: none;
  video {
    outline: none;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
  }
}
